page {
  height: 100%;
}
.howtoplay {
  height: 100%;
  &-wrapper {
    height: 98%;
  }
  &-page {
    height: 100%;
    box-sizing: border-box;
    padding-top: 24px;
    &.page-1 {
      .gameboard-img {
        margin-bottom: 30px;
      }
    }
  }
  .gameboard-img {
    width: 750px;
    height: 750px;
    display: block;
  }
  .gamecontrols-img {
    width: 750px;
    height: 500px;
    display: block;
  }
  .page-1-text {
    padding: 0 40px;
    font-size: 32px;
    color: #191b32;
    letter-spacing: -0.5px;
    line-height: 44px;
  }
  .img-box {
    position: relative;
  }
  .tips {
    box-sizing: border-box;
    width: 460px;
    padding: 30px;
    border-radius: 24px;
    font-size: 28px;
    color: #ffffff;
    letter-spacing: -0.44px;
    text-align: center;
    line-height: 40px;
    background-color: rgba($color: #191b32, $alpha: 0.9);
    position: absolute;
    &.t1 {
      top: 42%;
      left: 27%;
    }
    &.t2 {
      top: 42%;
      left: 27%;
    }
    &.t3 {
      top: 40%;
      left: 25%;
    }
  }
}
