$color: #5067ed;
$borderColor: #bec6d4;
$numColor: #445DA8;
$gameNumColor: #191B32;
$redNumColor: #EF4141;
$bgSelected: #C1D2FF;
$bgHighlightTable: #EEEFF4;
$bgHighlightNumber: #C6CBE1;
$bgConflict: #f7cfd6;